#newlink {
    background: #000000;
    width: 100%;
    max-width: 350px;
    padding: 25px;
    border-radius: 25px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 25px;
    color: #ffffff;
}
