#content {
    text-align: center;

    .container {
        display: grid;
        grid-template-rows: auto;
        grid-gap: 50px;

        @import 'content/headings';
        @import 'content/form';
        @import 'content/social';
    }
}
