#footer {
    height: 50px;

    .container {
        height: inherit;
        display: grid;
        align-items: center;
        justify-content: center;

        @import 'footer/copyright';
    }
}
